<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>index94forEach</title>
  <style>
  </style>
</head>

<body>
  <div id="lll"></div>
  <script type="module">
    import module from './js/module.js'
    // let data = [1,2,3,4,5,6]
    // try {
    //   data.forEach(item =>{
    //     console.log("item", item);
    //     if(item == 3){
    //       throw new Error("啦啦啦");
    //     }
    //   })
    // } catch (error) {
    //   console.log(error);
    // }finally{
    //   console.log(222);
    // }
    // let obj = {
    //   name:'jack',
    //   age:18,
    //   height:180,
    //   month:12
    // }
    // for(let {key, value} of obj){
    //     console.log(key, value );
    // }
    console.log('module', module());
    var aaaaaaaa = 11111;
    let bbbbbbbbb = 2222
    console.log(this);
    console.log('self', self);
    let data = [1,2,3,4,5]
    let template = `
    <ul>
      <% for(let i=0; i < data.length; i++) { %>
        <li><%= data[i] %></li>
      <% } %>
    </ul>
    `;
    let lll = document.getElementById('lll');
    lll.append(template);
    console.log('template', template);
  </script>

</body>

</html>